    <table class="table table-hover">
        <tr>
            <!-- <td width="40px">
                <a href="{{ url_for('main.user', username=comment.author.username) }}">
                 <img src="{{ comment.author.avatar(40) }}" /> 
                </a> 
            </td> -->
            <td>
                {% set user_link %}
                  <span class="user_popup">
                  <a href="{{ url_for('main.user', username=comment.author.username) }}">
                       {{ comment.author.username }}
                  </a>
                  </span>
                {% endset %}

                {{ _('%(username)s commented %(when)s',
                    username=user_link, when=moment(comment.timestamp).fromNow()) }}
                <br>
                <span id="comment{{ comment.id }}">{{ comment.body }}</span>
                {% if comment.language and comment.language != g.locale %}
                <br>
                <!--
                <div id="delete{{ comment.id }}">
                    {% include 'delete.html' %} 
                </div>
                -->
                <span id="translation{{ comment.id }}">
                    <a href="javascript:translate(
                                '#comment{{ comment.id }}',
                                '#translation{{ comment.id }}',
                                '{{ comment.language }}',
                                '{{ g.locale }}');">{{ _('Translate') }}</a>
                </span>
                {% endif %}
            </td>
        </tr>
    </table>
